@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

.page {

  .song-feed {
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid white;
    border-radius: 5px;
    margin-left: -40px;
    max-height: 611px;
    box-shadow: 8px 10px #E2E2E2;
    overflow-y: scroll;

    .post {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2.3em;
      padding: 17px;
      background-color: rgba(0, 0, 0, 0.9);
      border: 1px solid white;
      border-radius: 8px;

      .song-tile-image {
        padding: 0;
        width: 13em;
        height: 13em;
        border: 1px solid white;
        border-radius: 2px;
      }

      h3 {
        color: white;
        font-family: monospace;
      }

      p {
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: rgba (255, 255, 254, 0.99);
        border-radius: 2px;
        font-size: 16px;

        h6 {
          color: white;
          font-family: monospace;
        }

      }

      .audio-player {
        margin-top: 12px;
      }
    }
  }
  .profile-block {
    flex-direction: column;
    border: 2px solid #ffc815;
    margin-top: 2em;
    background-color: #E2E2E2;
    background: rgba(#E2E2E2, .9);
    border-radius: 5px;
    margin-left: -20px;
    margin-right: -60px;
    max-height: 620px;
    padding: 1em;
    overflow-y: scroll;

    h5{
      margin-top: 6px;
      font-family: monospace;
    }

    .button {
      color: black;
      background-color: #ffc815;
      border: 1px solid white;
      border-radius: 4px;

      .button :hover {
        color: white;
      }
    }
    .map-component {
      margin-bottom: 1.5em;
    }
  }
}
