.user-tile {
  width: 65%;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 12.5em;
  margin-right: 6em;
  padding: 17px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  overflow-y: scroll;

  img {
    max-width: 100px;
    max-height: 100px;
  }
}
